#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ="$(cat /etc/timezone)" \
	--env-file /srv/pihole/private/environment \
	-v /srv/pihole/etc/pihole:/etc/pihole \
	-v /srv/pihole/etc/dnsmasq.d:/etc/dnsmasq.d \
	--dns=127.0.0.1 \
	--dns="{{ pihole_upstream_dns }}" \
	--net={{ pihole_network }} \
	--ip={{ pihole_ipv4 }} \
	--ip6={{ pihole_ipv6 }} \
	--hostname {{ pihole_vhost }} \
	--name pihole \
        pihole/pihole:{{ pihole_docker_tag }}
