#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ="$(cat /etc/timezone)" \
	--env-file /srv/pihole/private/environment \
	-v /srv/pihole/etc/pihole:/etc/pihole \
	-v /srv/pihole/etc/dnsmasq.d:/etc/dnsmasq.d \
	--dns=127.0.0.1 \
	--dns="{{ pihole_upstream_dns }}" \
	-p {{ pihole_ipv4 }}:53:53/tcp \
	-p {{ pihole_ipv4 }}:53:53/udp \
	-p {{ pihole_ipv4 }}:80:80/tcp \
	-p {{ pihole_ipv4 }}:443:443/tcp \
	--hostname {{ pihole_vhost }} \
	--name pihole \
        pihole/pihole:{{ pihole_docker_tag }}
