#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e ENABLE_MJPG_STREAMER=false \
	-v /srv/octoprint/data:/octoprint \
	-p 80:80 \
	--device /dev/ttyACM0:/dev/ttyACM0 \
	--hostname {{ octoprint_hostname }}.{{ network_domain }} \
	--network host \
	--name octoprint \
	octoprint/octoprint:{{ octoprint_docker_tag }}
