FROM binlab/bastion:{{ bastion_docker_tag[ansible_machine] }}
MAINTAINER ccondit@randomcoder.org

RUN \
	sed -i 's/v3\.11/{{ bastion_alpine_version }}/g' /etc/apk/repositories && \
	apk add --upgrade --allow-untrusted alpine-keys && \
	apk update && \
	apk upgrade && \
	apk add --no-cache busybox-extras openssh-client ipmitool rsync
