#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	-e PUBKEY_AUTHENTICATION=true \
	-e GATEWAY_PORTS=false \
	-e PERMIT_TUNNEL=false \
	-e X11_FORWARDING=true \
	-e TCP_FORWARDING=true \
	-e AGENT_FORWARDING=true \
	-v /srv/bastion/state:/usr/etc/ssh:rw \
	-v /srv/bastion/authorized_keys:/var/lib/bastion/authorized_keys:ro \
	-v /net/hydra.condit.house/export/media:/media:ro \
	--net={{ bastion_network }} \
	--ip={{ bastion_ipv4 }} \
	--ip6={{ bastion_ipv6 }} \
	--hostname bastion.{{ network_domain }} \
	--name bastion \
	insideo/bastion

