#!/bin/bash

if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" >&2
  exit 1
fi

domain="{{ supermicro_cert_domain }}"
set -e

mkdir -p /opt/supermicro-utils/cert-incoming

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  echo "Downloading $file..."
  scp \
	-q -p -o BatchMode=yes \
	-i /opt/supermicro-utils/private/id_certs \
	"{{ supermicro_cert_download_user }}@{{ supermicro_cert_download_host }}:{{ supermicro_cert_download_remote_path }}/${domain}/${file}" \
	"/opt/supermicro-utils/cert-incoming/"
done

update_needed=false
for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  result=$(diff "/opt/supermicro-utils/cert/${file}" "/opt/supermicro-utils/cert-incoming/${file}" >/dev/null 2>/dev/null ; echo $?)
  if [ "${result}" -ne 0 ]; then
    update_needed=true
    echo "File ${file} changed"
    cp -f "/opt/supermicro-utils/cert-incoming/${file}" "/opt/supermicro-utils/cert/${file}"
  fi
done

if [ "${update_needed}x" == "truex" ]; then
  echo "Updating Supermicro IPMI certs..."
  /opt/supermicro-utils/sbin/update-supermicro-certs.sh --force-update
fi
