#!/bin/bash

if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" >&2
  exit 1
fi

# load env
source /opt/supermicro-utils/private/ipmi.env
export IPMI_UPDATER_PASSWORD
{% for server in supermicro_servers %}

# Update {{ server.hostname }}
echo "Updating {{ server.hostname }}..."

/opt/supermicro-utils/sbin/ipmi-updater.py \
	--model "{{ server.model }}" \
	--ipmi-url "{{ server.ipmi_url }}" \
	--username "${IPMI_UPDATER_USERNAME}" \
	--key-file /opt/supermicro-utils/cert/privkey.pem \
	--cert-file /opt/supermicro-utils/cert/fullchain.pem \
	"$@"
{% endfor %}
