#!/bin/bash

if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" >&2
  exit 1
fi

domain="{{ openspeedtest_cert_domain }}"
set -e

mkdir -p /srv/openspeedtest/cert-incoming

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  echo "Downloading $file..."
  scp \
	-q -p -o BatchMode=yes -o StrictHostKeyChecking=accept-new \
	-i /srv/openspeedtest/private/id_certs \
	"{{ openspeedtest_cert_download_user }}@{{ openspeedtest_cert_download_host }}:{{ openspeedtest_cert_download_remote_path }}/${domain}/${file}" \
	"/srv/openspeedtest/cert-incoming/"
done

restart_needed=false

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  result=$(diff "/srv/openspeedtest/cert/${file}" "/srv/openspeedtest/cert-incoming/${file}" >/dev/null 2>/dev/null ; echo $?)
  if [ "${result}" -ne 0 ]; then
    restart_needed=true
    echo "File ${file} changed"
    cp -f "/srv/openspeedtest/cert-incoming/${file}" "/srv/openspeedtest/cert/${file}"
    chown root:101 "/srv/openspeedtest/cert/${file}"
    chmod 640 "/srv/openspeedtest/cert/${file}"
  fi
done

if [ "${restart_needed}x" == "truex" ]; then
  echo "Restarting openspeedtest..."
  ln -sf fullchain.pem /srv/openspeedtest/cert/nginx.crt
  ln -sf privkey.pem /srv/openspeedtest/cert/nginx.key
  systemctl -q condrestart openspeedtest.service 2>/dev/null || :
fi
