#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ=America/Chicago \
	-e CHANGE_CONTAINER_PORTS=True \
	-e HTTP_PORT=80 \
	-e HTTPS_PORT=443 \
	-v /srv/openspeedtest/cert:/etc/ssl \
	--net={{ openspeedtest_network }} \
	--ip={{ openspeedtest_ipv4 }} \
	--hostname speedtest.{{ network_domain }} \
	--name openspeedtest \
	openspeedtest/latest:{{ openspeedtest_docker_tag }}
