#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	-e ADVERTISED_HOSTNAME="" \
	-e CUSTOM_SMB_CONF="false" \
	-e CUSTOM_USER="false" \
	-e DEBUG_LEVEL="1" \
	-e MIMIC_MODEL="TimeCapsule8,119" \
	-e EXTERNAL_CONF="/users" \
	-e HIDE_SHARES="yes" \
	-e TM_UID="$(id -u timemachine)" \
	-e TM_GID="$(id -g timemachine)" \
	-e SET_PERMISSIONS="true" \
	-e SHARE_NAME="TimeMachine" \
	-e SMB_INHERIT_PERMISSIONS="yes" \
	-e SMB_NFS_ACES="yes" \
	-e SMB_METADATA="stream" \
	-e SMB_PORT="445" \
	-e SMB_VFS_OBJECTS="acl_xattr fruit streams_xattr" \
	-e VOLUME_SIZE_LIMIT="0" \
	-e WORKGROUP="WORKGROUP" \
	-e MAX_OPEN_FILES="100000" \
	-v /srv/timemachine/data:/opt \
	-v /srv/timemachine/users:/users \
	--tmpfs /run/samba \
	--ulimit nofile=65536:65536 \
	--net={{ timemachine_network }} \
	--ip={{ timemachine_ipv4 }} \
	--hostname TimeMachine.{{ network_domain }} \
	--name timemachine \
	mbentley/timemachine:{{ timemachine_docker_tag[ansible_machine] }}
