global
  log stdout format raw local0
	fd-hard-limit 100000
  
defaults
  timeout connect 10s
  timeout client 30s
  timeout server 900s
  log global
  mode http
  option httplog
  option contstats
  maxconn 3000

frontend http
  bind :80
  http-request redirect scheme https

frontend http-external
  bind :81
  http-request redirect scheme https

frontend https
  bind :443 ssl crt /cert/fullchain.pem
	
	acl is_guac_sub path_reg ^/guacamole/
	acl is_guac hdr(host) -i remote.condit.house
	redirect code 301 location https://remote.condit.house/guacamole/ if is_guac ! is_guac_sub 

  use_backend be_cablemodem    if { hdr(host),field(1,:) -i        modem.condit.house }
  use_backend be_ui            if { hdr(host),field(1,:) -i           ui.condit.house }
  use_backend be_homeassistant if { hdr(host),field(1,:) -i           ha.condit.house }
  use_backend be_oci           if { hdr(host),field(1,:) -i          oci.condit.house }
  use_backend be_zwave         if { hdr(host),field(1,:) -i        zwave.condit.house }
  use_backend be_zigbee        if { hdr(host),field(1,:) -i       zigbee.condit.house }
  use_backend be_guacamole     if { hdr(host),field(1,:) -i       remote.condit.house }
  use_backend be_conditbackup  if { hdr(host),field(1,:) -i conditbackup.condit.house }
  use_backend be_stats         if { hdr(host),field(1,:) -i      haproxy.condit.house }
  use_backend be_svc_https     if { hdr(host),field(1,:) -i  -m end .svc.condit.house }
  use_backend be_heimdall      if { hdr(host),field(1,:) -i              condit.house }

frontend https-external
  bind :444 ssl crt /cert/fullchain.pem
  use_backend be_homeassistant if { hdr(host),field(1,:) -i   ha-remote.condit.house }

backend be_stats
  stats enable
  stats refresh 10s
  stats uri /
  stats show-node

backend be_svc_http
  balance roundrobin
{% for server in haproxy_backend_servers %}
  server {{ server.name }} {{ server.ip }}:443 check port 443 ssl verify none
{% endfor %}

backend be_svc_https
  balance roundrobin
{% for server in haproxy_backend_servers %}
  server {{ server.name }} {{ server.ip }}:443 check port 443 ssl verify none
{% endfor %}

backend be_cablemodem
  balance roundrobin
	http-request replace-header Host (.*) 192.168.100.1
	server cable-modem 192.168.100.1:443 check port 443 ssl verify none

backend be_ui
  balance roundrobin
{% for server in haproxy_unifi_servers %}
  server {{ server.name }} {{ server.ip }}:443 check port 443 ssl verify none
{% endfor %}

backend be_oci
  balance roundrobin
  server docker-registry.condit.house 192.168.10.4:5000 check port 5000 ssl verify none

backend be_heimdall
  balance roundrobin
  server heimdall.condit.house 192.168.10.9:443 check port 443 ssl verify none

backend be_homeassistant
  balance roundrobin
  server homeassistant 192.168.10.10:8123 check port 8123

backend be_conditbackup
  balance roundrobin
  server conditbackup conditbackup.riftdesign.com:9001 check port 9001

backend be_zwave
  balance roundrobin
  server zwavejsui 192.168.10.11:8091 check port 8091

backend be_zigbee
  balance roundrobin
  server zigbee2mqtt 192.168.10.12:8099 check port 8099

backend be_guacamole
  balance roundrobin
  server guacamole 192.168.10.18:8080 check port 8080
