#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	--sysctl net.ipv4.ip_unprivileged_port_start=0 \
	-v /srv/haproxy/conf:/usr/local/etc/haproxy:ro \
	-v /srv/haproxy/cert:/cert:ro \
	--net={{ haproxy_network }} \
	--ip={{ haproxy_ipv4 }} \
	--hostname "{{ haproxy_fqdn }}" \
	--name haproxy \
        library/haproxy:{{ haproxy_docker_tag }}
