#!/bin/bash

/usr/bin/docker run \
	--rm \
	-u $(id -u guacamole):$(id -g guacamole) \
  --env-file /srv/guacamole/private/guacamole-client.env \
	-e GUACAMOLE_HOME_TEMPLATE=/etc/guacamole-template \
	-e POSTGRESQL_PORT=5432 \
	--link guacamole-pgsql:postgres \
	--link guacamole-server:guacd \
	--name guacamole-client \
	--net="{{ guacamole_network }}" \
	--hostname "guacamole.{{ network_domain }}" \
	--ip="{{ guacamole_client_ipv4 }}" \
	--ip6="{{ guacamole_client_ipv6 }}" \
	-v /srv/guacamole/home:/etc/guacamole:ro \
	-p 8080:8080 \
	{{ guacamole_docker_image }}:{{ guacamole_docker_tag }}
