#!/bin/bash

/usr/bin/docker run \
	--rm \
	-u $(id -u guacamole):$(id -g guacamole) \
	--net="{{ guacamole_network }}" \
	--hostname "guacd.{{ network_domain }}" \
	--ip="{{ guacamole_server_ipv4 }}" \
	--ip6="{{ guacamole_server_ipv6 }}" \
	--name guacamole-server \
	--health-interval 10s \
	--health-start-period 1ms \
	{{ guacd_docker_image }}:{{ guacd_docker_tag }}
