#!/bin/bash

/usr/bin/docker run \
	--rm \
	-u $(id -u guacamole):$(id -g guacamole) \
	--name guacamole-pgsql \
	--net="{{ guacamole_network }}" \
	--hostname "guacamole-pgsql.{{ network_domain }}" \
	--ip="{{ guacamole_pgsql_ipv4 }}" \
	--ip6="{{ guacamole_pgsql_ipv6 }}" \
	--env-file /srv/guacamole/private/guacamole-pgsql.env \
	-e listen_addresses='*' \
  -e PGDATA=/var/lib/postgresql/data \
	-v /etc/passwd:/etc/passwd:ro \
	-v /etc/group:/etc/group:ro \
	-v /srv/guacamole/conf/postgresql.conf:/etc/postgresql/postgresql.conf:ro \
	-v /srv/guacamole/conf/initdb.sql:/etc/postgresql/initdb.sql:ro \
	-v /srv/guacamole/conf/initdb.sh:/docker-entrypoint-initdb.d/initdb.sh:ro \
	-v /srv/guacamole/data:/var/lib/postgresql/data \
	{{ guacamole_pgsql_docker_image }}:{{ guacamole_pgsql_docker_tag }}
