bindAddress: 127.0.0.1
bindPort: 9999
securePort: 443
forward: true
forceHttps: true
sendSts: false
stsMaxAge: 1
libraryPath: /srv/piano-player/library
libraryMetadataCache: /srv/piano-player/cache/metadata
doorbellMidi: "/srv/piano-player/doorbell/{{ piano_doorbell_midi }}"
julLogLevel: FINE
threadPoolMin: 10
threadPoolMax: 200
threadPoolIdleTimeoutMs: 60000
midiDevice:
  description: "{{ piano_midi_device_desc }}"
volumeMin: 0.0
volumeMax: 1.0
volumeDefault: 0.5
doorbellVolume: 0.5
defaultMinKeyVelocity: 35
keyCalibrationFile: /srv/piano-player/etc/calibration.yml
keyCalibrationOffset: 10
maxKeyVelocity: 100
velocityPivotPoint: 10
velocityLowRange: 3
