mirrors:
  {{ private_registry_name }}:
    endpoint:
      - "{{ private_registry_url }}"
configs:
  "{{ private_registry_host_port }}":
    auth:
      username: "{{ private_registry_username }}"
      password: "{{ private_registry_password }}"
