{% if rke_role == "agent" %}
server: "https://{{ rke_server_hostname }}:9345"
{% endif -%}
token: "{{ rke_token }}"
{% if rke_role == "server" %}
etcd-expose-metrics: true
kube-controller-manager-arg: bind-address=0.0.0.0
kube-scheduler-arg: bind-address=0.0.0.0
tls-san:
  - "{{ ansible_hostname }}"
  - "{{ ansible_hostname }}.{{ network_domain }}"
{% endif -%}
node-label:
{% for label in rke_node_labels %}
  - "{{ label }}"
{% endfor -%}
{% if rke_role == "server" or rke_node_taints %}
node-taint:
{% if rke_role == "server" %}
  - "CriticalAddonsOnly=true:NoExecute"
{% endif -%}
{% for taint in rke_node_taints %}
  - "{{ taint }}"
{% endfor -%}
{% endif -%}
