{
    "data-root": "{{ docker_data_root }}",
{% if docker_nvidia_runtime %}
    "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    },
{% endif %}
    "ipv6": true,
    "fixed-cidr-v6": "{{ docker_ipv6_prefix }}::/64"
}
