#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	-e PLEX_UID="$(id -u plex)" \
	-e PLEX_GID="$(id -g plex)" \
	--env-file /srv/plex/private/env \
	-v /srv/plex/config:/config \
	-v /export/media:/data \
	-v /export/transcode/plex:/transcode \
	--net={{ plex_network }} \
	--ip={{ plex_ipv4 }} \
	--hostname plex.{{ network_domain }} \
	--name plex \
	plexinc/pms-docker:{{ plex_docker_tag[ansible_machine] }}
