apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cdi-uploadproxy-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: nginx
  rules:
    - host: "cdi-upload.{{ kubernetes_svc_domain }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: cdi-uploadproxy
              port:
                number: 443
