apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yunikorn-api-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: "yunikorn-api.{{ kubernetes_svc_domain }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: yunikorn-service
              port:
                number: 9080
