<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">{{ samba_hostdesc }}</name>
    <service>
        <type>_smb._tcp</type>
	<host-name>{{ samba_hostname }}</host-name>
        <port>445</port>
    </service>
</service-group>
