{% for option in samba_env %}
{{ option }}={{ samba_env[option] }}
{% endfor %}
{% for option in samba_conf %}
SAMBA_CONF_{{ option | upper | regex_replace(' ', '_') }}={{ samba_conf[option] }}
{% endfor %}
{% for option in samba_global_config %}
SAMBA_GLOBAL_CONFIG_{{ option | regex_replace(':', '_COLON_') | regex_replace(' ', '_SPACE_') }}={{ samba_global_config[option] }}
{% endfor %}
{% for volume in samba_volume_config %}
SAMBA_VOLUME_CONFIG_{{ volume }}=[{{ samba_volume_config[volume].name }}]{% for prop in samba_volume_config[volume].properties %}; {{ prop }} = {{ samba_volume_config[volume].properties[prop] }}
{%- endfor %}

{% endfor %}
