#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	-v /srv/samba/shares:/shares \
	--env-file /srv/samba/conf/env \
	--env-file /srv/samba/conf/env.private \
	--net="{{ samba_network }}" \
	--ip="{{ samba_ipv4 }}" \
	--hostname "{{ samba_hostname }}" \
	--name samba \
	ghcr.io/servercontainers/samba:{{ samba_docker_tag[ansible_machine] }}
