#!/bin/bash

if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" >&2
  exit 1
fi

domain="{{ heimdall_cert_domain }}"
set -e

mkdir -p /srv/heimdall/cert-incoming

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  echo "Downloading $file..."
  scp \
	-q -p -o BatchMode=yes \
	-i /srv/heimdall/private/id_certs \
	"{{ heimdall_cert_download_user }}@{{ heimdall_cert_download_host }}:{{ heimdall_cert_download_remote_path }}/${domain}/${file}" \
	"/srv/heimdall/cert-incoming/"
done

restart_needed=false

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  result=$(diff "/srv/heimdall/conf/keys/${file}" "/srv/heimdall/cert-incoming/${file}" >/dev/null 2>/dev/null ; echo $?)
  if [ "${result}" -ne 0 ]; then
    restart_needed=true
    echo "File ${file} changed"
    cp -f "/srv/heimdall/cert-incoming/${file}" "/srv/heimdall/conf/keys/${file}"
    chown root:heimdall "/srv/heimdall/conf/keys/${file}"
    chmod 640 "/srv/heimdall/conf/keys/${file}"
  fi
done

if [ "${restart_needed}x" == "truex" ]; then
  echo "Restarting heimdall..."
  ln -sf fullchain.pem /srv/heimdall/conf/keys/cert.crt
  ln -sf privkey.pem /srv/heimdall/conf/keys/cert.key
  systemctl -q condrestart heimdall.service 2>/dev/null || :
fi
