#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e PUID=$(id -u heimdall) \
	-e PGID=$(id -g heimdall) \
	-e TZ=America/Chicago \
	-v /srv/heimdall/conf:/config \
	--net={{ heimdall_network }} \
	--ip={{ heimdall_ipv4 }} \
	--ip6={{ heimdall_ipv6 }} \
	--hostname heimdall.{{ network_domain }} \
	--name heimdall \
	linuxserver/heimdall:{{ heimdall_docker_tag }}
