RUN_AS_USER nut
MONITOR {{ nut_ups_name }}@{{ nut_server_ip }} 1 {{ nut_monitor_secondary_username }} {{ nut_monitor_secondary_password }} secondary
MINSUPPLIES 1
SHUTDOWNCMD "/sbin/shutdown -h +0"
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 15
POWERDOWNFLAG /etc/killpower
RBWARNTIME 43200
NOCOMMWARNTIME 300
FINALDELAY 5
