#!/bin/bash

if [[ $EUID -ne 0 ]]; then
  echo "This script must be run as root" >&2
  exit 1
fi

domain="{{ docker_registry_cert_domain }}"
set -e

mkdir -p /srv/docker-registry/cert-incoming

for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  echo "Downloading $file..."
  scp \
	-q -p -o BatchMode=yes \
	-i /srv/docker-registry/private/id_certs \
	"{{ docker_registry_cert_download_user }}@{{ docker_registry_cert_download_host }}:{{ docker_registry_cert_download_remote_path }}/${domain}/${file}" \
	"/srv/docker-registry/cert-incoming/"
done

restart_needed=false
for file in cert.pem chain.pem fullchain.pem privkey.pem ; do
  result=$(diff "/srv/docker-registry/cert/${file}" "/srv/docker-registry/cert-incoming/${file}" >/dev/null 2>/dev/null ; echo $?)
  if [ "${result}" -ne 0 ]; then
    restart_needed=true
    echo "File ${file} changed"
    cp -f "/srv/docker-registry/cert-incoming/${file}" "/srv/docker-registry/cert/${file}"
  fi
done

if [ "${restart_needed}x" == "truex" ]; then
  echo "Restarting docker-registry..."
  systemctl -q condrestart docker-registry.service 2>/dev/null || :
fi
