#!/bin/bash

/usr/bin/docker run \
	--rm \
	--init \
	-e TZ="$(cat /etc/timezone)" \
	-e REGISTRY_STORAGE_DELETE_ENABLED=true \
	-e REGISTRY_HTTP_ADDR=0.0.0.0:5000 \
	-e REGISTRY_HTTP_HOST="https://{{ docker_registry_public_fqdn }}" \
	-e REGISTRY_HTTP_TLS_CERTIFICATE=/cert/fullchain.pem \
	-e REGISTRY_HTTP_TLS_KEY=/cert/privkey.pem \
	--env-file /srv/docker-registry/private/env \
	--sysctl net.ipv4.ip_unprivileged_port_start=0 \
	-v /srv/docker-registry/cert:/cert:ro \
	-v /srv/docker-registry/auth:/auth:ro \
	-v /srv/docker-registry/data:/var/lib/registry:rw \
	--net={{ docker_registry_network }} \
	--ip={{ docker_registry_ipv4 }} \
	--hostname "{{ docker_registry_private_fqdn }}" \
	--name docker-registry \
        library/registry:{{ docker_registry_docker_tag }}
