#!/bin/bash
CMD=$1
export JAVA_HOME=/opt/openjdk-{{ jdk_major_version }}
export PATH="${JAVA_HOME}/bin:${PATH}"

if [ -z "${CMD}" ]; then
  echo "Spawning Java {{ jdk_major_version }} subshell" >&2
  bash
else
  shift
  exec "${CMD}" "$@"
fi
