#!/usr/sbin/nft -f

# This could interfere with other tooling that sets rules
#flush ruleset

# Explicitly clear what we manage here
table inet router_firewall
delete table inet router_firewall
table ip router_nat
delete table ip router_nat

define DEV_LAN = lan0
define DEV_WAN = wan0
define DEV_GUEST = br199
define DEV_WORK = br251

define CABLE_MODEM_MAC = {{ router.cable_modem_mac }}
define CABLE_MODEM_IP = {{ router.cable_modem_ip }}
define CABLE_MODEM_NET = {{ router.cable_modem_net }}
define SET_LOCAL_NETS = { {{ router.local_net }}, 127.0.0.0/8 }

define HAPROXY_IP = {{ router.haproxy_ip }}
define BASTION_IP = {{ router.bastion_ip }}
define PLEX_IP = {{ router.plex_ip }}

define EXT_ALLOW_IPV4 = {{ router.ext_allow_ipv4 }}
define EXT_ALLOW_IPV6 = {{ router.ext_allow_ipv6 }}

# addresses used by work laptop
define MAC_WORK_ETHERNET = {{ router.mac_work_ethernet }}
define MAC_WORK_WIFI = {{ router.mac_work_wifi }}
define SET_MAC_WORK_LAPTOP = { $MAC_WORK_ETHERNET, $MAC_WORK_WIFI }

table inet router_firewall {
	chain input {
		type filter hook input priority 0; policy accept;
		
		# Rate-limit pings	
		icmp type echo-request limit rate over 5/second drop;
		ip6 nexthdr icmpv6 icmpv6 type echo-request limit rate over 5/second drop;

		# Allow traffic from established and related packets, drop invalid
		ct state vmap { established: accept, related: accept, invalid: drop }

		# Block work computer unless originating on work VLAN
		ether saddr $SET_MAC_WORK_LAPTOP iif != { $DEV_WORK } drop;

		# Allow standard ICMPv4 messages
		icmp type {
			echo-request,
			destination-unreachable,
			source-quench
		} accept;

		# Allow standard ICMPv6 traffic necessary for proper operation
		icmpv6 type {
			echo-request,
			destination-unreachable,
			packet-too-big,
			time-exceeded,
			mld-listener-query,
			mld-listener-report,
			mld-listener-reduction,
			nd-router-solicit,
			nd-router-advert,
			nd-neighbor-solicit,
			nd-neighbor-advert,
			parameter-problem,
			mld2-listener-report
		} accept

		# allow loopback traffic, anything else jump to chain for further evaluation
		iifname vmap {
			lo       : accept,
			$DEV_WAN : jump input_wan,
			$DEV_LAN : jump input_lan,
			br0      : jump input_br0,
			br2      : jump input_br2,
			br3      : jump input_br3,
			br4      : jump input_br3,
			br10     : jump input_br10,
			br11     : jump input_br11,
			br32     : jump input_br32,
			br96     : jump input_br96,
			br199	 : jump input_br199,
			br251	 : jump input_br251
		}
	}

	chain input_wan {
		# allow forwarded ports
		tcp dport { 22, 80, 443, 32400 } ct status dnat accept;

		# drop non-dnat traffic for forwarded ports
		tcp dport { 22, 80, 443 } drop;

		# drop DHCP traffic from cable modem to avoid getting a 192.168.100.x lease
		ether saddr $CABLE_MODEM_MAC udp dport 67 drop;
		ether saddr $CABLE_MODEM_MAC udp sport 68 drop;

		# allow other DHCP traffic
		udp sport { 67, 68 } accept;
		udp dport { 67, 68 } accept;

		# allow DHCPv6 traffic
		udp sport 547 accept;
		udp dport 546 accept;

		# drop everything else
		drop;
	}

	chain input_lan {
		accept;
	}

	chain input_br0 {
		accept;
	}

	chain input_br2 {
		accept;
	}

	chain input_br3 {
		accept;
	}

	chain input_br4 {
		accept;
	}

	chain input_br10 {
		accept;
	}

	chain input_br11 {
		accept;
	}

	chain input_br32 {
		accept;
	}

	chain input_br96 {
		accept;
	}

	# 199-GUEST network
	chain input_br199 {
		# don't allow SSH to the router
		tcp dport 22 fib daddr type local reject;
		accept;
	}

	# 251-WORK network
	chain input_br251 {
		# don't allow SSH to the router
		tcp dport 22 fib daddr type local reject;
		accept;
	}

	chain forward {
		type filter hook forward priority 0; policy accept;

		# Allow related & established connections, drop invalid
		ct state vmap { established: accept, related: accept, invalid: drop }

		# Disallow cable modem IP access from guest VLAN
		iifname $DEV_GUEST ip daddr $CABLE_MODEM_NET drop;

		# Allow outgoing via WAN
		oifname $DEV_WAN accept;

		# allow loopback traffic, anything else jump to chain for further evaluation
		iifname vmap {
			lo       : accept,
			$DEV_LAN : jump forward_lan,
			$DEV_WAN : jump forward_wan,
			br0      : jump forward_br0,
			br2      : jump forward_br2,
			br3      : jump forward_br3,
			br4      : jump forward_br3,
			br10     : jump forward_br10,
			br11     : jump forward_br11,
			br32     : jump forward_br32,
			br96     : jump forward_br96,
			br199	 : jump forward_br199,
			br251	 : jump forward_br251
		}

		log prefix "FWD_FALLTHROUGH: " flags ip options;
	}

	chain forward_lan {
		log prefix "FWD_LAN_DROP: " flags ip options;
		drop;
	}

	chain forward_wan {
		# Allow incoming WAN forwarded ports to Bastion / HAProxy
		tcp dport {  22, 81, 444, 32400 } ct status dnat accept;

		# Drop everything else
		drop;
	}

	chain forward_br0 {
		accept;
	}

	chain forward_br2 {
		accept;
	}

	chain forward_br3 {
		accept;
	}

	chain forward_br4 {
		accept;
	}

	chain forward_br10 {
		accept;
	}

	chain forward_br11 {
		accept;
	}

	chain forward_br32 {
		accept;
	}

	chain forward_br96 {
		accept;
	}

	# 199-GUEST network
	chain forward_br199 {
		# drop everything inter-VLAN for guests
		drop;
	}

	# 251-WORK network
	chain forward_br251 {
		# allow SSH, HTTP, HTTPS, VNC, RDP to internal VLANs
		oifname { br0, br2, br3, br4, br10, br11, br32, br96 } tcp dport { 22, 80, 443, 5900, 3389 } accept;

		# TODO drop all but specific destinations for work computer

		log prefix "FWD_BR251_DROP_TBD: " flags ip options;
		accept;
	}

}

table ip router_nat {

	chain prerouting {
		type nat hook prerouting priority dstnat; policy accept;

		# port-forward ssh -> bastion
		iifname $DEV_WAN tcp dport 22 dnat to $BASTION_IP:22

		# port-forward http(s) 80/443 -> haproxy 81/444
		ip daddr != $SET_LOCAL_NETS tcp dport 80 fib daddr type local dnat to $HAPROXY_IP:81
		ip daddr != $SET_LOCAL_NETS tcp dport 443 fib daddr type local dnat to $HAPROXY_IP:444

		# port-forward 32400 -> plex 32400
		ip daddr != $SET_LOCAL_NETS tcp dport 32400 fib daddr type local dnat to $PLEX_IP:32400
	}

	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;

		# Masquerade outgoing traffic
		oifname $DEV_WAN masquerade
	}

}
