FROM debian:bullseye
MAINTAINER ccondit@randomcoder.org

RUN \
	apt-get update && \
	apt-get -y install \
		git-core build-essential cmake autoconf automake libtool pkg-config \
		libglib2.0-dev libzip-dev libudev-dev libusb-1.0-0-dev \
		python3-dev qtbase5-dev qtbase5-dev-tools qtchooser qt5-qmake \
		libboost-dev libboost-test-dev libboost-thread-dev \
		libboost-system-dev libboost-filesystem-dev check libfftw3-dev \
		curl && \
	rm -rf /var/cache/apt && \
	mkdir -p /build /packages

ENV VERSION={{ dsview_version }}

RUN \
	cd /build && \
	curl -L -o DSView.tar.gz "https://github.com/DreamSourceLab/DSView/archive/v${VERSION}.tar.gz" && \
	tar zxvf DSView.tar.gz

RUN \
	cd "/build/DSView-${VERSION}" && \
	cd libsigrok4DSL && \
	./autogen.sh && \
	./configure --prefix="/opt/dsview-${VERSION}" && \
	make && \
	make install

RUN \
	cd "/build/DSView-${VERSION}" && \
	cd libsigrokdecode4DSL && \
	./autogen.sh && \
	./configure --prefix="/opt/dsview-${VERSION}" && \
	make && \
	make install

RUN \
	cd /build && \
	curl -L -o dsview-qt5.patch \
		https://github.com/DreamSourceLab/DSView/commit/de9aa558737b053b661cfa451ebcaa9bc96aab54.patch && \
	cd "/build/DSView-${VERSION}" && \
	patch -p1 < ../dsview-qt5.patch

RUN \
	cd "/build/DSView-${VERSION}" && \
	cd DSView && \
	PKG_CONFIG_PATH=/opt/dsview-${VERSION}/lib/pkgconfig \
		cmake -DCMAKE_INSTALL_PREFIX:PATH="/opt/dsview-${VERSION}" . && \
	make && \
	make install

RUN \
	sed -i "s_/usr/local_/opt/dsview-${VERSION}_g" /usr/share/applications/DSView.desktop && \
	mkdir -p "/opt/dsview-${VERSION}/share/applications" && \
	cp -a /usr/share/applications/DSView.desktop "/opt/dsview-${VERSION}/share/applications/" && \
	mkdir -p "/opt/dsview-${VERSION}/etc/udev/rules.d" && \
	cp -a /etc/udev/rules.d/DreamSourceLab.rules "/opt/dsview-${VERSION}/etc/udev/rules.d/" && \
	cd / && \
	tar zcvf "/packages/dsview-bin-${VERSION}.tar.gz" "/opt/dsview-${VERSION}"

