{% if nfs_server.exports[inventory_hostname] is defined %}
{% for entry in nfs_server.exports[inventory_hostname] %}
{{ entry.path }}{% for client in entry.clients %} {{ client.acl }}({{ client.options }}){% endfor %}

{% endfor %}
{% endif %}
