[server]
use-ipv4=yes
use-ipv6=yes
allow-interfaces={{ router.avahi.allow_interfaces }}
deny-interfaces=wan0
ratelimit-interval-usec=1000000
ratelimit-burst=1000

[wide-area]
enable-wide-area=yes

[publish]
publish-hinfo=no
publish-workstation=no

[reflector]
enable-reflector=yes
reflect-ipv=no

[rlimits]
