#!/bin/bash
SVC_UID=$(id -u conradbackup)
SVC_GID=$(id -g conradbackup)
DOCKER_IMAGE=minio/minio:RELEASE.2024-11-07T00-52-20Z

docker run \
	--rm=true \
	--name conradbackup \
	-u "${SVC_UID}:${SVC_GID}" \
	-v /srv/conradbackup/data:/data \
	--env-file /srv/conradbackup/private/minio.env \
	--net={{ conradbackup_network }} \
	--ip={{ conradbackup_ipv4 }} \
	--ip6={{ conradbackup_ipv6 }} \
	--hostname conradbackup.{{ network_domain }} \
	"${DOCKER_IMAGE}" \
	server /data --console-address :9001
