maxretry = 3

[{{ nut_server.ups.name }}]
driver = {{ nut_server.ups.driver }}
port = {{ nut_server.ups.port }}
desc = "{{ nut_server.ups.desc }}"
{% for prop in nut_server.ups.props %}
{{ prop }} = {{ nut_server.ups.props[prop] }}
{% endfor %}
{% for prop in nut_server_ups_secure_props %}
{{ prop }} = {{ nut_server_ups_secure_props[prop] }}
{% endfor %}
