[{{ nut_server_admin_username }}]
password = {{ nut_server_admin_password }}
actions = set
actions = fsd
instcmds = all

[{{ nut_monitor_primary_username }}]
password = {{ nut_monitor_primary_password }}
upsmon primary

[{{ nut_monitor_secondary_username }}]
password = {{ nut_monitor_secondary_password }}
upsmon secondary

[{{ nut_monitor_view_username }}]
password = {{ nut_monitor_view_password }}
upsmon secondary
