[Match]
PermanentMACAddress={{ router.network.mac_if_wan }}

[Link]
Name=wan0
RxBufferSize=max
TxBufferSize=max
RxFlowControl=true
TxFlowControl=true
RxChannels=max
TxChannels=max
OtherChannels=max
CombinedChannels=max
