[Match]
Name=wan0

[Link]
RequiredForOnline=no

[Network]
DHCP=yes

[DHCPv4]
Hostname={{ router.network.wan_dhcp_hostname }}
UseHostname=no
UseDNS=no
UseNTP=no
UseSIP=no
UseRoutes=no
UseGateway=yes
SendRelease=no

[DHCPv6]
PrefixDelegationHint={{ router.network.wan_prefix_delegation_hint }}
UseHostname=no
UseDNS=no
UseNTP=no
SendRelease=no
WithoutRA=solicit

[Route]
# static route for cable modem
Gateway={{ router.cable_modem_ip }}
Destination={{ router.cable_modem_ip }}/32
GatewayOnLink=yes

[IPv6AcceptRA]
Token=::1
DHCPv6Client=always

