[Match]
Name={{ item.bridge }}
Type=bridge

[Network]
DHCP=no
Address={{ item.address }}
ConfigureWithoutCarrier=yes

[Network]
IPv6SendRA=yes
IPv6AcceptRA=no
DHCPPrefixDelegation=yes

[DHCPPrefixDelegation]
SubnetId={{ item.subnet_id }}
Announce=true
Assign=true
Token=::1
