#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ=America/Chicago \
	-v /srv/homeassistant/zwave-conf:/usr/src/app/store \
{% for device in zwavejsui_devices %}
	--device "{{ device.host }}:{{ device.container }}:rw" \
{% endfor %}
	--net={{ zwavejsui_network }} \
	--ip={{ zwavejsui_ipv4 }} \
	--ip6={{ zwavejsui_ipv6 }} \
	--hostname zwavejsui.{{ network_domain }} \
	--name zwavejsui \
	zwavejs/zwave-js-ui:{{ zwavejsui_docker_tag }}
