#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ=America/Chicago \
	-v /srv/homeassistant/zigbee2mqtt-conf:/app/data \
	-v /run/udev:/run/udev:ro \
{% for device in zigbee2mqtt_devices %}
	--device "{{ device.host }}:{{ device.container }}:rw" \
{% endfor %}
	--net={{ zigbee2mqtt_network }} \
	--ip={{ zigbee2mqtt_ipv4 }} \
	--ip6={{ zigbee2mqtt_ipv6 }} \
	-u "$(id -u homeassistant):$(id -g homeassistant)" \
	--group-add dialout \
	--hostname zigbee2mqtt.{{ network_domain }} \
	--name zigbee2mqtt \
	koenkk/zigbee2mqtt:{{ zigbee2mqtt_docker_tag }}
