#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ=America/Chicago \
	-v /srv/homeassistant/mosquitto-conf:/mosquitto/config \
	-v /srv/homeassistant/mosquitto-data:/mosquitto/data \
	-v /etc/localtime:/etc/localtime:ro \
	--net={{ mosquitto_network }} \
	--ip={{ mosquitto_ipv4 }} \
	--ip6={{ mosquitto_ipv6 }} \
	-u "$(id -u homeassistant):$(id -g homeassistant)" \
	--hostname mosquitto.{{ network_domain }} \
	--name mosquitto \
	eclipse-mosquitto:{{ mosquitto_docker_tag }}
