#!/bin/bash

/usr/bin/docker run \
	--rm \
	-e TZ=America/Chicago \
	-e PUID=$(id -u homeassistant) \
	-e PGID=$(id -g homeassistant) \
	-v /srv/homeassistant/conf:/config \
{% for device in homeassistant_devices %}
	--device "{{ device.host }}:{{ device.container }}:rw" \
{% endfor %}
	--net={{ homeassistant_network }} \
	--ip={{ homeassistant_ipv4 }} \
	--ip6={{ homeassistant_ipv6 }} \
	--hostname homeassistant.{{ network_domain }} \
	--name homeassistant \
	linuxserver/homeassistant:{{ homeassistant_docker_tag }}
