homeassistant: true
permit_join: false
advanced:
  log_output:
    - console
  log_syslog:
    app_name: Zigbee2MQTT
    eol: /n
    host: localhost
    localhost: localhost
    path: /dev/log
    pid: process.pid
    port: 514
    protocol: udp4
    type: '5424'
  last_seen: ISO_8601
mqtt:
  base_topic: zigbee2mqtt
  server: "mqtt://{{ mosquitto_ipv4 }}:1883"
serial:
  port: /dev/ttyACM0
  adapter: ember
frontend:
  port: 8099
devices: devices.yaml
availability:
  active:
    timeout: 10
  passive:
    timeout: 1500
