alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: "{{ prometheus_storage_class }}"
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 10Gi
        selector: {}

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "{{ prometheus_storage_class }}"
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 50Gi
        selector: {}
    additionalScrapeConfigs:
      - job_name: node
        static_configs:
          - targets:
            - erwin.condit.house:9100
            - hydra.condit.house:9100
            - niko.condit.house:9100
            - beast.condit.house:9100
            - lab.condit.house:9100
            - piano.condit.house:9100
            - retropie.condit.house:9100
            - prusa3d.condit.house:9100
            - rpi3.condit.house:9100
      - job_name: snmp
        scrape_interval: 1m
        scrape_timeout: 30s
        static_configs:
          - targets:
            - sw-rack-2g.mgmt.condit.house
            - sw-rack-10g.mgmt.condit.house
            - sw-rack-48.mgmt.condit.house
            - sw-rack-flex-10g.mgmt.condit.house
            - sw-living-room-flex-10g.mgmt.condit.house
            - sw-craig-studio-flex-10g.mgmt.condit.house
            - sw-craig-office-flex-10g.mgmt.condit.house
            - sw-family-room-flex-10g.mgmt.condit.house
            - sw-craig-studio.mgmt.condit.house
            - sw-family-room.mgmt.condit.house
            - sw-anne-office.mgmt.condit.house
            - wifi-basement.mgmt.condit.house
            - wifi-family-room.mgmt.condit.house
            - wifi-living-room.mgmt.condit.house
            - wifi-craig-studio.mgmt.condit.house
            - wifi-garage.mgmt.condit.house
            - wifi-master-bedroom.mgmt.condit.house
        metrics_path: /snmp
        params:
          module: [if_mib]
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: 192.168.11.11:9116
      - job_name: snmp_unifi
        scrape_interval: 1m
        scrape_timeout: 30s
        static_configs:
          - targets:
            - wifi-basement.mgmt.condit.house
            - wifi-family-room.mgmt.condit.house
            - wifi-living-room.mgmt.condit.house
            - wifi-craig-studio.mgmt.condit.house
            - wifi-garage.mgmt.condit.house
        metrics_path: /snmp
        params:
          module: [ubiquiti_unifi]
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: 192.168.11.11:9116
      - job_name: yunikorn
        scrape_interval: 10s
        scrape_timeout: 5s
        metrics_path: /ws/v1/metrics
        static_configs:
          - targets:
            - yunikorn-service.yunikorn.svc.cluster.local:9080

grafana:
  adminPassword: "{{ grafana_admin_password }}"
  persistence:
    enabled: true
    type: sts
    storageClassName: "{{ prometheus_storage_class }}"
    accessModes: [ "ReadWriteOnce" ]
    resources:
      requests:
        storage: 20Gi
    finalizers:
      - kubernetes.io/pvc-protection
